<div>
  <h1><%= @user.name %></h1>
  <p><%= @user.beebits_name %></p>
</div>

<div>
  <% @timelines.each do |timeline| %>
    <%= render 'timelines/timeline', timeline: timeline %>
  <% end %>
</div>

<%= link_to 'タイムラインへ戻る', timelines_path %>
