version: '3.8'

services:
  db:
    image: mysql:8.0.32
    ports:
      - "3307:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      - EDITOR=vi
    depends_on:
      - db

  frontend:
    build: .
    command: bash -c "cd frontend && npm run dev -- --host 0.0.0.0"
    volumes:
      - .:/app
      - node_modules_data:/app/frontend/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - web

volumes:
  db_data:
  bundle_data:
  node_modules_data:
