<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
  <p>あなたのID名は <%= current_user.BeeBits_id %></p>
<%= button_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
